.main {
  text-align: center;
  padding: 0.5em;
}

.buttonStyle {
  margin-bottom: 30px;
}

.imgStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 100%;
}

.leftStyle {
  text-align: left;
}
